
.banner {
  width: 100%;
  height: 800px;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 45px;
}

.banner p {
  font-size: 35px;
  font-weight: light;
  color: #A8A9A9;
}

.banner a {
  background-color: #1EDC88;
  color: white;
  padding: 24px;
  text-decoration: none;
  display: inline-block;
}
